<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    {% if current_user %}
        <a href="{% url 'logout' %}">Logout</a>
        <h1>You have successfully logged in, {{current_user}}</h1>
    {% else %}
        <h1>Welcome to the demo login page!</h1>
        <hr>
        <h2>Signup and Login to check it out!</h2>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Signup</a>
    {% endif %}
</body>
</html>